code/__pycache__
code/cleaner.py
code/converter.py
code/patch_extractor.py
code/patch_extractor_v_2.py
code/progress_bar.py
code/dataset_preview.py
code/dataset_preview_2.py
code/main_gui.py

gui_code/dataset/sen1/zone_4
gui_code/dataset/sen1/zone_7_a
gui_code/dataset/sen1/zone_7_b
gui_code/dataset/sen1/zone_10
gui_code/dataset/sen1/zone_11

gui_code/dataset/sen2/zone_4
gui_code/dataset/sen2/zone_7_a
gui_code/dataset/sen2/zone_7_b
gui_code/dataset/sen2/zone_10
gui_code/dataset/sen2/zone_11