.vscode

code/__pycache__
code/cleaner.py
code/converter.py
code/patch_extractor.py
code/patch_extractor_v_2.py
code/progress_bar.py
code/dataset_preview.py
code/dataset_preview_2.py
code/main_gui.py
code/downloader_old.py

gui_code/__pycache__
gui_code/icon.png

dataset_sample/sen1/zone_4
dataset_sample/sen1/zone_7_a
dataset_sample/sen1/zone_7_b
dataset_sample/sen1/zone_10
dataset_sample/sen1/zone_11

dataset_sample/sen2/zone_4
dataset_sample/sen2/zone_7_a
dataset_sample/sen2/zone_7_b
dataset_sample/sen2/zone_10
dataset_sample/sen2/zone_11

downloader